*.log
*.pid
*.seed
*.tgz
.circleci
.editorconfig
.babelrc
.eslintrc*
.gitignore
.grunt
.lock-wscript
.node_repl_history
.nyc_output
.stylelintrc*
.travis.yml
.vscode
appveyor.yml
coverage
gulpfile.js
lib-cov
logs
node_modules
npm-debug.log*
dist
pids
test
bin
