version: "{build}"
skip_branch_with_pr: true
skip_tags: true
build: off

environment:
  matrix:
    - nodejs_version: stable

platform:
  - x64

# Install scripts. (runs after repo cloning)
install:
  # install Node.js
  - ps: Install-Product node $env:nodejs_version $env:platform
  # install modules
  - npm install --ignore-scripts

# to run your custom scripts instead of automatic tests
test_script:
  - node_modules/.bin/nyc npm run install-test

# to run your custom scripts instead of provider deployments
after_test:
  - npm run report-coverage
